java/.idea/
java/java.iml
java/target/
crystal/hamiltonian
elixir/*.beam
go/hamiltonian
c++/Hamiltonian
typescript/hamiltonian.js
java(pure)/src/Hamiltonian.class
.~lock.comparison_figure.ods#
elixir/erlang-solutions_2.0_all.deb
java/.classpath
java/.project
java/.settings/org.eclipse.jdt.apt.core.prefs
java/.settings/org.eclipse.jdt.core.prefs
java/.settings/org.eclipse.m2e.core.prefs
typescript/hamiltonian.js.map
typescript/package-lock.json
typescript/node_modules
